body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: radial-gradient(circle at center, #101e41 10%, #0f172a 70%);
  	height: 100%;
  	min-height: 100vh;
  	margin: 0;
  	padding: 0;
}

.project-title{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 100px;
	font-family: 'Oswald', sans-serif;
	color: #E0E0E0;
}

.project-description{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70vw;
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	color: #E0E0E0;
	margin-top: 20px;
}
