<!DOCTYPE html>
<html>
<head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
<link id="stylesheet" rel="stylesheet" type="text/css" href="/print3dEdition.css">
</head>
<body>

<div class="project-title">PRINT3D EDITION</div>
<div class="video-container">
  <iframe 
    width="560" 
    height="315" 
    src="https://www.youtube.com/embed/U1tzyi1_NBA" 
    title="YouTube video player" 
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
</div>
<div style="color: #E0E0E0;">Download the documentation <a style="color: #34eb49;" href="/Print3dDocs.pdf" download>here</a></div>
<div class="project-description">
Print3d Edition is an e-commerce website for my friend's 3D printing business. After finishing my associate's and having a better understanding of project structure, I offered to help my friend by building a website for his business. Building this project forced me to consider all kinds of new variables when launching a web store to the public. Not just building it so that my friend would have all the admin tools he'd need to manage the website and products listed, but also the customer experience and checkout flow. It really put the idea of security vulnerabilities and data accuracy at the front of my mind. Not only to protect my friend from potential issues, but to also protect his potential customers.
</div>
</body>
</html>